@if (User.Identity.IsAuthenticated)
{
    <li>
        <span>@User.Identity.Name خوش آمدید !</span>
        <ul>
            <li><a asp-area="UserPanel">پنل کاربری</a></li>
            <li>
                <a asp-area="UserPanel" asp-controller="Home"
                   asp-action="ChangePassword">تغییر کلمه عبور</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account"
                   asp-action="LogOut">خروج</a>
            </li>
        </ul>
    </li>
    <li><a onclick="return confirm('آیا از خروج مطمئن هستی ؟')" class="text-danger" asp-controller="Account" asp-action="LogOut"> خروج </a></li>

}
else
{
    <li><a asp-controller="Account" asp-action="Register"> ثبت نام </a></li>
    <li><a asp-controller="Account" asp-action="Login"> ورود به سایت </a></li>
}